APP_ENV=development
APP_PORT=3000
DB_HOST=db
DB_PORT=5432
DB_NAME=supplier
DB_USER=postgres
DB_PASS='password'
DB_TYPE='postgres'

#S3
AWS_IMAGE_PROXY_URL = https://images.1851.nlasandbox2.info
AWS_S3_URL = https://1851-dev.s3.amazonaws.com

MSQL_DB_READ_HOST=
MSQL_DB_WRITE_HOST=
MSQL_DB_PORT=
MSQL_DB_NAME=
MSQL_DB_USER=
MSQL_DB_PASS=
MSQL_DB_TYPE='mysql'

#AWS
AWS_BUCKET_NAME = 1851-dev
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
AWS_REGION = 

#Franchise
FRANCHISE_1851_URL = https://1851franchise.com

#ROLLBAR
ROLLBAR_ACCESS_TOKEN =

# SC
AWS_S3_BASE_URL_SC =  
AWS_BUCKET_NAME_SC = 
AWS_ACCESS_KEY_ID_SC = 
AWS_SECRET_ACCESS_KEY_SC = 

# EE
AWS_S3_BASE_URL_EE = 
AWS_BUCKET_NAME_EE = 
AWS_ACCESS_KEY_ID_EE = 
AWS_SECRET_ACCESS_KEY_EE = 

# 1903
AWS_S3_BASE_URL_1903 =  
AWS_BUCKET_NAME_1903 =
AWS_ACCESS_KEY_ID_1903 = 
AWS_SECRET_ACCESS_KEY_1903 =
SITE_ID=1851
GIP_PROJECT_ID
